* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #70e1f5, #ffd194);
  min-height: 100vh; /* Ensures the gradient covers the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 80%;
  background: linear-gradient(135deg, #1e3c72, #2a5298, #4a69bd);
  color: #fff;
  margin: 6.25rem auto 0;
  border-radius: 1.25rem;
  padding: 2.5rem 2.1875rem;
  text-align: center;
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 0.625rem 1.5625rem;
  height: 3.75rem;
  border-radius: 1.875rem;
  flex: 1;
  margin-right: 1rem;
  font-size: 1.125rem;
}

.search-box .btn {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    scale: 0.95;
  }
}

.search-box .btn img {
  width: 30px;
}

.weather-icon {
  width: 10.625rem;
  margin-top: 1.875rem;
}

.weather h1 {
  font-size: 5rem;
  font-weight: 400;
}

.col {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  & .d {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    & p{
      font-size: 1.6rem;
    }
  }
}

.col .d img {
  width: 2.5rem;
}

.humidity,
.wind {
  font-size: 1.75rem;
  margin-top: -0.375rem;
}

.weather {
  display: none;
}
.error {
  text-align: center;
  margin-left: 10px;
  font-size: 25px;
  margin-top: 10px;
  display: none;
  color: red;
}
